@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import '../colors.scss';

.titleCreate{
    font-family: "Space Grotesk", serif;
    font-size: 2rem;
    color: $light-color;
    text-align: center;
    height: 80px;
    margin: 30px;
}

.formCreate{
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 330px 150px 330px;
    justify-content: center;
    align-items: center;
    label{
        font-family: "Space Grotesk", serif;
        font-size: 1.3rem;
        color: $light-color;
    }
    input{
        font-family: "Space Grotesk", serif;
        background: rgba($light-color, 0.8);
        border: none;
        border-radius: 10px;
        height: 30px;
        width: 300px;
        margin: 20px 5px 20px 5px;
        font-size: 1rem;
        font-weight: bold;
        padding: 5px;
    }
    button{
        font-family: "Space Grotesk", serif;
        font-size: 1.2rem;
        background: $light-color;
        border: none;
        border-radius: 10px;
        height: 30px;
        width: 300px;
        margin: 20px 5px 20px 5px;
        grid-column: span 4;
        justify-self: center;
        cursor: pointer;
    }
}